.Nav.main{
    background-color: #58E3F5;
    width: 100%;
    height: 6rem;
    border: none;
    border-bottom: 0.1rem solid #ffffff;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.Nav.main.right{
    justify-content: flex-end;
}

.Nav.menuOption{
    font-family: Fira Sans;
    font-size: 20px;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    color: #000000;
	&.active{
		background-color: #326da8;
	}
}

.Nav.menuOption:link{
	text-decoration: none;
}


.Nav.menuOption:hover {
	color: #000000;
	text-decoration: underline #000000;
	text-underline-offset: 0.5rem;
}








